# Server Operations Config
PORT=5000

# Decentralized BaaS Telemetry Integration
BAAS_TOKEN=your_baas_token_hash_here
BAAS_REST_ROOT=your_baas_rest_root_url
BAAS_QUERY_CHANNEL=your_baas_query_channel_id
BAAS_API_URL=your_baas_api_url

# Production Node SMTP Mail Grid
EMAIL_USER=your_email@gmail.com
EMAIL_ALIAS=your_email@example.com
GOOGLE_SCRIPT_MAIL_URL=your_app_specific_app_script_here

# Ecosystem Command Center Sync Keys
YOUTUBE_API_KEY=AIzaSy_your_youtube_api_v3_key
YOUTUBE_CHANNEL_ID=UC_your_youtube_channel_id
GITHUB_TOKEN=ghp_your_classic_personal_access_token
GITHUB_USERNAME=smsram
LEETCODE_USERNAME=smsram
LINKEDIN_USERNAME=smsram